# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Compodoc
compodoc

# Environment configs
.env
.env.*

# OpenAPI
openapi.json

# Files additional to .gitignore
.husky/
.vscode/
scripts/
test/
.eslintrc.js
.gitignore
.prettierrc
.versionrc.json
commitlint.config.(js|ts)
docker-compose.yml
Dockerfile
jest*.config.ts
openapi*.json
*.md

